body {
  background-color:#79bac1;
  font-family: "Montserrat-Black";
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
}

.fakher {
  display: inline-block;
  position: relative;
  left: 240px;
}

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

@media screen and (max-width: 1200px) {
 

  .fakher {
    display: inline-block;
    position: relative;
    left: 60px;
  }

  .gallery {
    border: 1px solid #ccc;
    float: left;
    width: 40%;
    
      margin: 15px;
  }
  .gallery img {
  width: 100%;
  height: 300px;
}

}

.gallery1 {
  margin: 10px;
  float: center;
  width: 600px;
  height: 400px;
  padding-left: 30%;
  padding-top: 100px;
}

.gallery:hover {
  border: 1px solid red;
}

.gallery img {
  width: 100%;
  height: 200px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.desc1 {
  text-align: center;
}

h2 {
  font-family: "Montserrat-Black";
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
}

h3 {
  text-align: center;
}

hr {
  border-style: dotted none none none;
  height: 0px;
  width: 5%;
  border-color: gray;
  border-width: 7px;
}

.btn-group button3 {
  background-color: #808B96;
  border: 1px solid #979A9A;
  color: Black;
  padding: 10px 14px;
  cursor: pointer;
  width: 250px;
  display: inline-block;
  /* Make the buttons appear below each other */
  text-align: center;
  margin: 4px 2px;
}

.btn-group button3:hover {
  background-color: #D5D8DC;
}

.container-fluid {
  padding: 1% 3%
}

/* navigation bar */
.navbar {
  padding: 30px 8.5rem;
  color: #ff4c68;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* download button */
.download-botton {
  margin: 5% 3% 5% 0;
  padding: 15%;
}

.Copyright {
  color: Black;
}

/
/* home button */
.bottom-container {
  background-color: #66BFBF;
  text-align: center;
}

/* subject title */
.subject-title {
  text-align: center;
}

.year-question {
  padding: 10px 20px;
}

/* new footer */
#footer {
  text-align: center;
  padding: 50px 0;
}

.footer-text {
  font-size: 12px;
  line-height: 2px;
}

.footer-icon {
  margin: 50px 10px;
  color: black;
}

.footer-icon:hover {
  color: #ff4c88;
}

/* units videos */
.units {
  text-align: center;
  padding: 10px;
}
